<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jere.forum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/forum_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/forum_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".me.ProfileActivity"></activity>
        <activity android:name=".me.MyChartActivity" />
        <activity android:name=".chats.TopicDetailActivity" />
        <activity android:name=".chats.NewTopicActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>