<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jere.forum">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jere.forum.App"
        android:allowBackup="true"
        android:icon="@drawable/forum_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/forum_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jere.forum.me.MyChartActivity"></activity>
        <activity android:name="com.jere.forum.chats.TopicDetailActivity" />
        <activity android:name="com.jere.forum.chats.NewTopicActivity" />
        <activity android:name="com.jere.forum.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>